<h1>{% if project.id > 0 %}Edit{% else %}Add{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="file">
    <input type="text" name="frameStart">
    <input type="text" name="frameEnd">
    <select name="format">
        <option value="PNG">PNG</option>
    </select>
    <input type="submit">
</form>