index:
  path: /
  defaults: { _controller: AppBundle:Default:index }

project_index:
  path: /projects
  defaults: { _controller: AppBundle:Default:projectIndex }

project_add:
  path: /projects/add
  defaults: { _controller: AppBundle:Default:projectAdd }

project_detail:
  path: /projects/show/{id}
  defaults: { _controller: AppBundle:Default:projectDetail }
  requirements:
    id: \d+

project_download:
  path: /projects/download/{id}
  defaults: { _controller: AppBundle:Default:projectDownload }
  requirements:
    id: \d+

project_queue:
  path: /projects/queue
  defaults: { _controller: AppBundle:Default:projectQueue }

project_status_ajax:
  path: /projects/{id}/status
  defaults: { _controller: AppBundle:Default:projectStatus }

task_image:
  path: /task/{id}/image
  defaults: { _controller: AppBundle:Default:taskImage }
  requirements:
    id: \d+

api_status:
  path: /api/status
  defaults: { _controller: AppBundle:Api:status }

api_work_request:
  path: /api/work
  defaults: { _controller: AppBundle:Api:work }

api_project:
  path: /api/project/{id}
  defaults: { _controller: AppBundle:Api:project }
  requirements:
    id: \d+

api_upload:
  path: /api/upload/{id}
  defaults: { _controller: AppBundle:Api:imageUpload }
  requirements:
    id: \d+

api_task_report:
  path: /api/task/{id}/report
  defaults: { _controller: AppBundle:Api:taskReport }
  requirements:
    id: \d+