AppBundle\Entity\Project:
    type: entity
    table: null
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: '100'
        status:
            type: string
            length: 20
        frameStart:
            type: integer
        frameEnd:
            type: integer
        format:
            type: string
            length: 10
        engine:
            type: string
            length: 20
        mainFile:
            type: string
            length: 100

    oneToMany:
        tasks:
            targetEntity: AppBundle\Entity\Task
            mappedBy: project
    lifecycleCallbacks: {  }
